<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crypto Crustaceans</title>
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="static/styles.css" rel="stylesheet" />
        <link href="static/d3styles.css" rel="stylesheet" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    </head>
    <body id="page-top">
	    
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#predictions">Predictions</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#model">Model</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#plot">Plot</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="#project">Project</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Crypto Crustaceans Project 3</div>
                <div class="masthead-heading text-uppercase">Bitcoin Price Prediction Model</div>
            </div>
        </header>

        <!-- Predictions-->
        <section class="page-section" id="predictions">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">BTC Price Predictions</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Current Price</h4>
                            </div>
                            <div class="card-body" id="current-price">
                                <h1 class="card-title pricing-card-title price">$0<br></h1>
                                <h1 class="card-title pricing-card-title percent"><small class="text-muted">_</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">+1 Day Prediction</h4>
                            </div>
                            <div class="card-body" id="prediction-1day">
                                <h1 class="card-title pricing-card-title price">$0</h1>
                                <h1 class="card-title pricing-card-title percent"><small class="text-muted">%</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">+7 Day Prediction</h4>
                            </div>
                            <div class="card-body" id="prediction-7day">
                                <h1 class="card-title pricing-card-title price">$0</h1>
                                <h1 class="card-title pricing-card-title percent"><small class="text-muted">%</small></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">
                        Our goal was to create a model that could make accurate predictions for the price of Bitcoin.<br>
                        We trained our model using historical Bitcoin market data, blockchain data, and social data,<br>
                        as well as using the results of a sentiment analysis of Bitcoin news headlines.
                    </h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">CryptoCompare API</h4>
                        <p class="text-muted">
                            We used the cryptocompare.com API to retrieve 
                            historical market, blockchain, and social data, 
                            and we scraped news.bitcoin.com to obtain historical news headlines. 
                            We also use the API to retrieve current data and recent news articles, 
                            so that the model can make live predictions. 
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-terminal fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Scikit-learn & NLTK</h4>
                        <p class="text-muted">
                            Scikit-learn is a ML library featuring various classification, regression, and clustering algorithms. 
                            We used historical data to train a regression algorithm (to make price predictions) and 
                            a classification algorithm (to determine the postive, negative, or neutral sentiment of news headlines). 
                            NLTK is a suite of NLP libraries, which we used as part of our preprocessing pipeline.    
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-eye fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">JavaScript</h4>
                        <p class="text-muted">
                            D3.js combines powerful visualization components 
                            and a data-driven approach to DOM manipulation to create custom, dynamic, 
                            and interactive data visualizations.
                            We used d3.js to create a calendar visualization showing how our model's predictions using test data 
                            compared to actual historical prices.                          
                        </p>
                    </div>
                </div>
            </div>
        </section>
		
        <!-- Calendar Grid-->
        <section class="page-section bg-light" id="model">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Prediction Model</h2>
                    <h3 class="section-subheading text-muted">
                        This calendar visualizes the results of our prediction model using test data.<br> <br>
                        Each square shows the historical price of Bitcoin with a 1-day or 7-day offset for any given date (bottom-left corner) 
                        as well as the output of our prediction model using test data (top-right corner).
                        Green blocks represent positive price movement and pink blocks represent negative price movement.<br> <br>
                        The visualization was created using d3.js 
                        and can be filtered to show the results of our 1-day or 7-day prediction model.
                    </h3>
                    <div id="plotFilters"></div>
                </div>
                    <div id="d3calendar" style=" display: flex; justify-content: center; align-items: center;"></div>
            </div>
            
        </section>
	
        <!-- Plot-->
        <!-- <section class="page-section bg-light" id="plot">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Plot</h2>
                    <h3 class="section-subheading text-muted">Plotting price of GSPC over time.<br>The plot was created using chart.js</h3>
                </div>
                <div id="chartjsline"></div>
            </div>
        </section>
        <section class="page-section bg-light">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase"></h2>
                    <h3 class="section-subheading text-muted">Plotting our news sentiment analysis vs. price of GSPC.<br>The plot was created using chart.js</h3>
                </div>
                <div id="chartjsscatter"></div>
            </div>
        </section> -->
		
        <!-- Project-->
        <section class="page-section" id="project">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Project Timeline</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Getting Data:</h4>
                                <h4 class="subheading">CryptoCompare API <br>& Web Scraping</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                We used the cryptocompare.com API to retrieve historical Bitcoin market data (daily open and close prices, volume etc.), 
                                blockchain data (number of transactions, number of large transactions, transaction value, etc.), 
                                social data (e.g., number of reddit posts, etc.). 
                                The historical data retrieved via the API went back several years.<br> <br>
                                We created a web scraping tool to grab thousands of historical Bitcoin news headlines 
                                going back several years from news.bitcoin.com.<br> <br>
                                We also used the cryptocompare.com API to retrieve current market data (including real-time price), 
                                blockchain data, social data, and news articles.                            

                            </p>
                        </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Data Clean Up & Preprocessing:</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                We cleaned, merged, and aggregated the historical market, blockchain, and social data to create our training data.<br> <br>
                                Additionally, we used NLTK to perform preprocessing steps on our historical news headlines including 
                                tokenizing, stemming, removing punctuation and numbers, formatting the text as lowercase, 
                                excluding stop-words, and finally vectorizing the text.<br> <br>
                                These preprocessing steps were necessary to feed the headlines to the classification algorithm. 
                                The results of the classification algorithm’s sentiment analysis were also merged into our training data.                               
                            </p>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Creating the Model:</h4>
                                <h4 class="subheading">SVM Classifier & <br>Random Forest Regressor</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                After preprocessing, the news headlines were split into training and test sets to evaluate the performance of various classifiers. 
                                The SVM classifier performed best, and we chose it as the final classification algorithm.<br> <br>
                                The final merged historical dataset was then split into training and test sets to evaluate the performance of various regressors. 
                                The Random Forest regressor performed best, and we chose it as the final regression algorithm.<br> <br>
                                Additionally, we performed grid searches to hyper-tune the models and select the best algorithm parameters. 
                                Once finalized, the trained algorithms were saved for future use.
                            </p>
                        </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>The Final App:</h4>
                                <h4 class="subheading">Flask Server</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                We created a Flask application to host a web page and make live Bitcoin price predictions.<br> <br>
                                The application retrieves current data from the cryptocompare.com API, 
                                and the data is fed to our pre-trained algorithms to make live predictions.
                                D3.js is used to update this web page with the real-time Bitcoin price as well as our 1-day and 7-day price predictions. 
                                D3.js is also used to create the calendar visualization on this web page.
                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <br />
                                Cheers!
                                <br />

                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
		
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">The Crypto Crustaceans</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/assets/img/team/2.jpg" alt="..." />
                            <p class="text-muted">Travis de Ronde</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/assets/img/team/3.jpg" alt="..." />
                            <p class="text-muted">Darren Chu</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/assets/img/team/4.jpg" alt="..." />
                            <p class="text-muted">Steven Ninh</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/assets/img/team/1.jpg" alt="..." />
                            <p class="text-muted">Tom Phowborom</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://d3js.org/d3-array.v2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script type="text/javascript" src="static/plots.js"></script>
		<script type="text/javascript" src="static/predictions.js"></script>
    </body>
</html>
